@model IEnumerable<string>
@using SportsStore.ViewModel.Models;

@*<div class="jumbotron">
    <div class="container text-center">
        <h1>COLD STEEL STORE</h1>
    </div>
</div>*@
<nav class="navbar navbar-inverse">
    <div >
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">      
                <li ><a class="navbar-brand" ui-sref ="category({categ : 'all', page : 1})">Cold Steel Store</a></li>
          
                    <li class="dropdown">
                        <a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            Products <span class="caret"></span></a>
                <ul class="dropdown-menu"> 
                    @foreach(var link in Model) // change to ng-repeat
                    {
                        <li >                     
                            <a ui-sref="category({categ : '@link', page: 1})">@link</a>                
                        </li>
                    }       
                </ul>
                </li>               
             @*category({categ : '{{categ}}', page : {{p}} })*@
            
                <li ui-sref="contacts"><a href="">Contacts</a></li>

          @*      <li class="navbar-form navbar-left input-group row" >
        <input type="text" ng-click="$state.go('search', {name : null, page: 1})"
                           ng-keydown="$state.go('search', {name : '{{keyword}}', page: 1})"
                           ng-model="keyword"
                           class="form-control" placeholder="Enter a product name">      
                </li> *@

                <li ng-controller="quickSearchController" class="navbar-form navbar-left input-group row">
                    <input type="text" ng-model="keyword" placeholder="Enter a product name" class="form-control"
                        ng-keyup="($event.keyCode == 13 && getSearchResult()) || 
                        ($event.keyCode != 13 && getSearchResultCount())">            
                     <p class="form-control">{{count}}</p>

                </li>
               
            </ul>
     
            <ul class="nav navbar-nav navbar-right">                
          
                    @if (Session["Auth"] == null)
                    {
                    <li>
                    <a ui-sref="login">
                    <span class="glyphicon glyphicon-log-in"></span>
                    Log in</a>   
                    </li>  
                    }
                    @if (Session["Auth"] != null)
                    {
                     
                    <li>@{Html.RenderAction("Summary", "Cart", Session["Cart"]);}</li>
                    
                        
                    <li>
                        <a ui-sref="myProfile">
                        <span class="glyphicon glyphicon-user" ></span>
                        Profile</a>   
                    </li>
                        
                    if ( ((UserViewModel)Session["Auth"]).IsAdmin == true)
                    {
                        <li><a href ="/Admin/Index">Moderate</a></li>                            
                    }
                    
                        <li>
                            <a href="/Account/Logout">
                                <span class="glyphicon glyphicon-log-out"></span>
                                Log out</a>
                        </li>  
                    }
            </ul>  
            </div>

    
    </div>
</nav>
<h1>{{keyword}}
{{searchInfo}}</h1>
<div id="main">

    <!-- angular templating -->
    <!-- this is where content will be injected -->
    <div ui-view></div>

</div>
