@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>Index</h2>*@

@*
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Angular Routing Example</a>
        </div>
        <h1>INDEX</h1>
@*        <ul class="nav navbar-nav navbar-right">
            <li><a href="/#/"><i class="fa fa-home"></i>Home</a></li>
            <li><a href="/#/about"><i class="fa fa-shield"></i>About</a></li>
            <li><a href="/#/contact"><i class="fa fa-comment"></i>Contact</a></li>
          
        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li><a ui-sref="home">HomeS</a></li>
            <li><a ui-sref="login">AboutS</a></li>


            <li><a ui-sref="user({id : 1})">User1</a></li>
            <li><a ui-sref="user({id : 2})">User2</a></li>
            <li><a ui-sref="user({id : 3})">User3</a></li>
            <li><a ui-sref="user({id : 4})">User4</a></li>
        </ul>
    </div>
</nav>

<div id="main">

    <!-- angular templating -->
    <!-- this is where content will be injected -->
    <div ui-view></div>

</div>*@
