@using SportsStore.ViewModel.Models;

<!DOCTYPE html>
<html ng-app="app">
<head> 
      <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
 
    <link href="~/Content/Site.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" type="text/css" rel="stylesheet" />

    @*<script src="~/Scripts/bootstrap.min.js"></script>*@
    <script src="~/Scripts/jquery-1.9.1.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>


    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    @*<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>*@
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular-route.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.8/angular-ui-router.min.js"></script>
    

    <script src="~/Scripts/app/app.js"></script>
    <script src="~/Scripts/app/services/storeService.js"></script>
    <script src="~/Scripts/app/controllers/indexController.js"></script>
    <script src="~/Scripts/app/config/storeRoutes.js"></script>
    <script src="~/Scripts/app/config/storeStates.js"></script>
  

</head>
<body  ng-controller="indexController">
       

    @{ 
        Html.RenderAction("Menu", "Nav");
    }

    
    @RenderBody()
    

</body>
</html>
