<html>
    <head>
        <link href="~/Content/bootstrap.min.css" type="text/css" rel="stylesheet" />

        @*<script src="~/Scripts/bootstrap.min.js"></script>*@
        <script src="~/Scripts/jquery-1.9.1.js"></script>
        <script src="~/Scripts/angular.min.js"></script>
        <script src="~/Scripts/bootstrap.js"></script>
        <title>@ViewBag.Title</title>
    </head>
    <body>
        @RenderBody()
    </body>
</html>

