@model SportsStore.ViewModel.Models.DeliveryViewModel

@{
    ViewBag.Title = "Checkout";
}
<div align ="center">
    <h2>Check out now</h2>
    Please enter your details, and we'll ship your goods right away!
   <form method="post" action="/Cart/Checkout" data-toggle="validator">    
        @Html.ValidationSummary()
       <input type="hidden" name="Cart_Id" />
       <input type="hidden" name="DeliveryPrice" value=20 />

        * City : <input type ="text" name="City" required="required"/>
        <div class="help-block with-errors"></div>
        * Street :
        <input type="text" name="Street" required="required" />
        <div class="help-block with-errors"></div>
        * Home Number :
        <input pattern="[0-9]{1,5}" name="HomeNumber" required="required" />
        <div class="help-block with-errors"></div>
        * Appartment :
        <input pattern="[0-9]{1,5}" name="Appartment" required="required" />
        <div class="help-block with-errors"></div>
        * Post Index :
        <input pattern="[0-9]{5}" name="PostIndex" required="required" />
        <div class="help-block with-errors"></div>

        

        <p align="center">
            <input class="actionButtons" type="submit" value="Complete order" />
        </p>
   </form>
</div>


@*public class DeliveryViewModel
    {
        public decimal DeliveryPrice;

        public string City { get; set; }
        public string Street { get; set; }
        public string HomeNumber { get; set; }
        public string Appartment { get; set; }
        public string PostIndex { get; set; }
       
        public Cart Cart { get; set; }
       

    }*@