
<div id="cart">
    <span class="caption">
        <b>Your cart:</b>
        @ViewBag.NumOfProducts item(s),
        @ViewBag.TotalPrice 
              
    </span>
    @Html.ActionLink("Checkout", "Index", "Cart", new { returnUrl =
Request.Url.PathAndQuery }, null)
</div>
