@model SportsStore.ViewModel.Models.LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = null;
}
<title>Login</title>
<link href="~/Content/bootstrap.min.css" type="text/css" rel="stylesheet" />

@*<script src="~/Scripts/bootstrap.min.js"></script>*@
<script src="~/Scripts/jquery-1.9.1.js"></script>
<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<h1 align="center">Log In</h1><hr />


    <form action="/Account/Login" method="post" data-toggle="validator" class="register-form">
       <div align="center"> @Html.ValidationSummary() </div>       
      
            <div class="col-md-4 col-md-offset-4">
                <b>* Logname</b>
                <input name="Logname" class="form-control" pattern="[a-zA-z1-9]{5,16}" required="required" title="Only characters, min length is 5" />
                <div class="help-block with-errors"></div>
            </div>

        
   
            <div class="col-md-4 col-md-offset-4">
                <b>* Password</b>
                <input name="Password" class="form-control" type="password" pattern="[a-zA-z0-9]{5,16}" required="required" title="Min length is 5" />
                <div class="help-block with-errors"></div>
            </div>
      
        
        <hr >
        <div class="row">
            <div class="col-md-1 col-md-offset-5">
                <button class="btn btn-default logbutton" type="submit">Confirm</button>

            </div>
            <div class="col-md-1">
                <a class="btn btn-default regbutton" href="/Account/Register">Register</a>
            </div>
        </div>
    </form>


