@model SportsStore.ViewModel.Models.UserViewModel

@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Profile</h2>

 Your name @Model.Name 
 Your role : @if(@Model.IsAdmin)
             {
                 <h6>Admin</h6>
            }
            else
            {
                <h6>User</h6>
            }
