@{
    ViewBag.Title = "Contacts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class = "col-md-offset-1">
    <h2>Contacts</h2>

    Cold steel store inc. <br />
    Location: Ukraine, Dnepropetrovska oblast, Pavlograd, Centralna street 40 <br /> <br />

    Phone : 777 - 11 - 9999 <br />
    Mail : coldsteelstore@gmail.com <br />
    Fax - 789 987 1111 <br />
</div>